#example-header {
    background: #ccc;
    height: 140px;
}

#example-header h1 {
    margin-top: 1px;
    margin-left: 150px;
    font-size: 32px;
}
body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }
#example-page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -20px;
}

#push,
#footer {
    height: 20px;
}

#footer {
    background: #ccc;
}

.navbar {
    margin-bottom: 0px;
}